body {
    background-image: url('/thinkly/assets/background.svg');
    background-size: cover;
}
div::-webkit-scrollbar {
    width: 1em;
}

div::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
div::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 0.5px solid slategrey;
}
.content {
    position: absolute;
    width: 1000px;
    height: 400px;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -200px 0 0 -500px;
}
.column1 {
    float: left;
    width: 440px;
}
.column2 {
    float: right;
    width: 440px;
}
.newsfeed {
    width: 450px;
    height: 300px;
    overflow-y: auto;
}
.space {
    height: 6px;
}
.post {
    margin: 0;
    border-bottom: 2px solid #FFFFFF;
}
.dialog {
    display: none;
    position: absolute;
    width: 600px;
    height: 250px;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -125px 0 0 -300px;
    background-color: #000000;
    opacity: 0.8;
    border-radius: 25px;
    -moz-border-radius: 25px;
    border: 0px solid #000000;
    padding: 20px;
}
.content {
    position: absolute;
    width: 1000px;
    height: 400px;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -200px 0 0 -500px;
}
#contentDisplay {
    background-color: #008FB3;
    opacity: 0.8;
    border-radius: 25px;
    -moz-border-radius: 25px;
    border: 0px solid #000000;
    padding: 20px;
}
#contentBox {
    background-color: transparent;
    width: 900px;
    height: 350px;
    margin: -175px 0 0 -450px;
}
h1 {
    font-family: 'Noto Serif';
    color: #FFFFFF;
    margin: 0;
}
h2 {
    font-family: 'Noto Serif';
    color: #FFFFFF;
    margin: 0;
}
h3 {
    font-family: 'Noto Sans';
    color: #FFFFFF;
    margin: 0;
    font-weight: 400;
}
h4 {
    font-family: 'Noto Serif';
    color: #FFFFFF;
    margin: 0;
}
h5 {
    font-family: 'Noto Sans';
    color: #FFFFFF;
    margin: 0;
}
p {
    font-family: 'Noto Sans';
    color: #FFFFFF;
}
.posttext {
    margin: 0;
}
.date {
    margin: 0;
    font-size: 0.8em;
}
.postimage {
    margin: 0;
    width: 430px;
    border-radius: 30px;
}
span {
    font-family: 'Noto Serif';
    color: #FFFFFF;
    font-weight: 700;
}
hr {
    border: 1px solid #FFFFFF;
}
a {
    color: #FFFFFF;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
#loginlink {
    font-family: 'Noto Sans';
    float: right;
}
ul {
    list-style-property: circle;
}
li {
    font-family: 'Noto Sans';
    color: #FFFFFF;
}
.newpostinput {
  	background-color: transparent;
  	border: 1px solid #FFFFFF;
  	font-family: 'Noto Sans';
  	text-align: center;
  	color: #FFFFFF;
  	font-size: 1em;
    height: 100px;
    width: 500px;
    word-break: break-word;
}
.newpostattach {
  	background-color: transparent;
  	border: 1px solid #FFFFFF;
  	font-family: 'Noto Sans';
  	text-align: center;
  	color: #FFFFFF;
  	font-size: 1em;
    width: 500px;
}
#image {
    display: none;
}
#uri {
    display: none;
}
.newpostbutton {
  	background-color: transparent;
  	border: 1px solid #FFFFFF;
  	font-family: 'Noto Sans';
  	text-align: center;
  	color: #FFFFFF;
  	font-size: 1em;
    float: right;
}
select {
    background-color: transparent;
    border: 1px solid #FFFFFF;
    font-family: 'Noto Sans';
    text-align: center;
    color: #FFFFFF;
    font-size: 1em;
    width: 200px;
}
.link {
    font-family: 'Noto Sans';
    float: right;
}
.error {
    font-family: 'Noto Sans';
}
.count {
    font-family: 'Noto Sans';
    color: #00FF00;
    text-align: center;
}
