body {
    background-image: url('background.svg');
    background-size: cover;
}
.content {
    position: absolute;
    width: 1000px;
    height: 400px;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -200px 0 0 -500px;
}
.column1 {
    float: left;
    width: 450px;
}
.column2 {
    float: right;
    width: 450px;
}
.space {
    height: 5px;
}
#contentDisplay {
    background-color: #FF6600;
    opacity: 0.8;
    border-radius: 25px;
    -moz-border-radius: 25px;
    border: 0px solid #000000;
    padding: 20px;
}
#contentBox {
    background-color: transparent;
    width: 900px;
    height: 350px;
    margin: -175px 0 0 -450px;
}
.logo {
    width: 10%;
}
h1 {
    font-family: 'Noto Serif';
    color: #FFFFFF;
    margin: 0;
}
h2 {
    font-family: 'Noto Serif';
    color: #FFFFFF;
}
p {
    font-family: 'Noto Sans';
    color: #FFFFFF;
}
span {
    font-family: 'Noto Serif';
    color: #FFFFFF;
    font-weight: 700;
}
hr {
    border: 1px solid #FFFFFF;
}
a {
    color: #FFFFFF;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
#loginlink {
    font-family: 'Noto Sans';
    float: right;
}
.loginField {
	background-color: transparent;
	width: 300px;
	border: 1px solid #FFFFFF;
	font-family: 'Noto Sans';
	text-align: center;
	color: #FFFFFF;
	font-size: 1em;
}
.loginField::-webkit-input-placeholder {
	color: #FFFFFF;
}
.loginField::-moz-placeholder {
	color: #FFFFFF;
}
.loginField:-ms-input-placeholder {
	color: #FFFFFF;
}
.loginField:-moz-placeholder {
	color: #FFFFFF;
}
.loginButton {
	background-color: transparent;
	border: 1px solid #FFFFFF;
	font-family: 'Noto Sans';
	text-align: center;
	color: #FFFFFF;
	font-size: 1em;
}
form {
    text-align: center;
}
