body {
    background-image: url('/thinkly/assets/background.svg');
    background-size: cover;
}
.content {
    position: absolute;
    width: 1000px;
    height: 400px;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -200px 0 0 -500px;
}
.post {
    margin: 0;
    border-bottom: 2px solid #FFFFFF;
}
.space {
    height: 6px;
}
.column1 {
    float: left;
    width: 440px;
}
.column2 {
    float: right;
    width: 440px;
}
.dialog {
    display: none;
    position: absolute;
    width: 600px;
    height: 200px;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -160px 0 0 -300px;
    background-color: #000000;
    opacity: 0.8;
    border-radius: 25px;
    -moz-border-radius: 25px;
    border: 0px solid #000000;
    padding: 20px;
}
#profile,#profiledisplay {
    height: 320px;
}
#contentDisplay {
    background-color: #008FB3;
    opacity: 0.8;
    border-radius: 25px;
    -moz-border-radius: 25px;
    border: 0px solid #000000;
    padding: 20px;
}
#contentBox {
    background-color: transparent;
    width: 900px;
    height: 350px;
    margin: -175px 0 0 -450px;
}
h1 {
    font-family: 'Noto Serif';
    color: #FFFFFF;
    margin: 0;
}
h2 {
    font-family: 'Noto Serif';
    color: #FFFFFF;
    margin: 0;
}
h3 {
    font-family: 'Noto Sans';
    color: #FFFFFF;
    margin: 0;
    font-weight: 400;
}
h4 {
    font-family: 'Noto Serif';
    color: #FFFFFF;
    margin: 0;
}
h5 {
    font-family: 'Noto Sans';
    color: #FFFFFF;
    margin: 0;
}
p {
    font-family: 'Noto Sans';
    color: #FFFFFF;
}
.posttext {
    margin: 0;
}
.date {
    margin: 0;
    font-size: 0.8em;
}
.postimage {
    margin: 0;
    width: 430px;
    border-radius: 30px;
}
span {
    font-family: 'Noto Serif';
    color: #FFFFFF;
    font-weight: 700;
}
hr {
    border: 1px solid #FFFFFF;
}
a {
    color: #FFFFFF;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
ul {
    list-style-property: circle;
}
li {
    font-family: 'Noto Sans';
    color: #FFFFFF;
}
.single {
  	background-color: transparent;
  	border: 1px solid #FFFFFF;
  	font-family: 'Noto Sans';
  	text-align: center;
  	color: #FFFFFF;
  	font-size: 1em;
    width: 500px;
}
.singleregister {
    background-color: transparent;
    width: 300px;
    border: 1px solid #FFFFFF;
    font-family: 'Noto Sans';
    text-align: center;
    color: #FFFFFF;
    font-size: 1em;
}
.bday {
  	background-color: transparent;
  	border: 1px solid #FFFFFF;
  	font-family: 'Noto Sans';
  	text-align: center;
  	color: #FFFFFF;
  	font-size: 1em;
    width: 100px;
}
.paragraph {
  	background-color: transparent;
  	border: 1px solid #FFFFFF;
  	font-family: 'Noto Sans';
  	text-align: center;
  	color: #FFFFFF;
  	font-size: 1em;
    height: 100px;
    width: 500px;
    resize: none;
}
.submitbutton {
  	background-color: transparent;
  	border: 1px solid #FFFFFF;
  	font-family: 'Noto Sans';
  	text-align: center;
  	color: #FFFFFF;
  	font-size: 1em;
    float: right;
}
.submitregister {
    background-color: transparent;
    border: 1px solid #FFFFFF;
    font-family: 'Noto Sans';
    text-align: center;
    color: #FFFFFF;
    font-size: 1em;
}
.registerError {
    font-family: 'Noto Sans';
    font-weight: 400;
    font-size: 0.6em;
}
.link {
    font-family: 'Noto Sans';
    font-weight: 400;
    float: right;
}
.error {
    font-family: 'Noto Sans';
}
.warning {
    font-family: 'Noto Sans';
    color: #FF0000;
}
.count {
    font-family: 'Noto Sans';
    color: #00FF00;
    text-align: center;
}
#search {
    width: 100%;
}
.singleregister::-webkit-input-placeholder {
	 color: #FFFFFF;
}
.singleregister::-moz-placeholder {
	 color: #FFFFFF;
}
.singleregister:-ms-input-placeholder {
	 color: #FFFFFF;
}
details {
    width: 60px;;
    color: #FFFFFF;
}
summary {
    font-family: 'Noto Serif';
    color: #FFFFFF;
    margin: 0;
    font-size: 2em;
}
.register {
    text-align: center;
}
