body {
    background-image: url('/thinkly/assets/background.svg');
    background-size: cover;
}
.content {
    position: absolute;
    width: 1000px;
    height: 400px;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -200px 0 0 -500px;
}
.column1 {
    float: left;
    width: 450px;
}
.column2 {
    float: right;
    width: 450px;
}
#contentDisplay {
    background-color: #008FB3;
    opacity: 0.8;
    border-radius: 25px;
    -moz-border-radius: 25px;
    border: 0px solid #000000;
    padding: 20px;
}
#contentBox {
    background-color: transparent;
    width: 900px;
    height: 350px;
    margin: -175px 0 0 -450px;
}
h1 {
    font-family: 'Noto Serif';
    color: #FFFFFF;
    margin: 0;
}
h2 {
    font-family: 'Noto Serif';
    color: #FFFFFF;
    margin: 0;
}
p {
    font-family: 'Noto Sans';
    color: #FFFFFF;
}
span {
    font-family: 'Noto Serif';
    color: #FFFFFF;
    font-weight: 700;
}
hr {
    border: 1px solid #FFFFFF;
}
a {
    color: #FFFFFF;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
#loginlink {
    font-family: 'Noto Sans';
    float: right;
}
